@import "../colors.scss";

.home {
  height: calc(100vh - 90px);
  display: flex;
  justify-content: center;
  align-items: center;
  color: $color_2;
  flex-direction: column;
}

.text {
  width: 60%;
}

.title {
  font-size: 22px;
  text-align: center;
  margin-bottom: 25px;
}

.info {
  font-size: 18px;
  text-align: center;
  line-height: 25px;
}

.buttonsRL {
  margin-top: 90px;
  // display: flex;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 56%;
  // justify-content: space-evenly;
}

.r,
.l {
  width: max-content;
  margin: 0 auto;
}

.r > input,
.l > input {
  background-color: $color_4;
  border: none;
  outline: none;
  padding: 1rem 1.5rem;
  border-radius: 30px;

  font-size: 18px;
  font-weight: bold;
  color: $color_2;
  border: 3px solid transparent;

  transition: 0.5s linear all;
}

.r:hover > input,
.l:hover > input {
  // text-decoration: underline;
  border-color: $color_2_h;
  color: $color_2_h;
  background: transparent;
}

.buttonMore {
  margin-top: 50px;
}

.buttonMore > a {
  color: $color_2;
  transition: 0.5s linear all;
}

.buttonMore > a:hover {
  color: $color_2_h;
}
