@import "../../colors.scss";

.checkbox {
  display: flex;
  padding: 3px 0;
  align-items: center;
}

.text {
  margin-left: 3px;
  // font-size: 18px;
  // color: $color_5;
}

.service {
  display: flex;
  align-items: flex-start;

  // align-items: center;
  padding: 0.1rem 0;
}

.marker {
  width: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  // margin-right: 5px;
}

.marker > img {
  width: 20px;
  height: 20px;
}
