$color_1: #004e75;
$color_1_h: #248bbe;
$color_2: white;
$color_2_h: #004e75;
$color_3: #60aafc;
$color_3_2: #c7e1ff2f;
$color_4: #004e75;
$color_5: #2bc54d;
$color_6: #fff;
$color_7: #003d5c;
$color_8: #2c8eff;
$color_8_h: #2277da;

$placeholder: rgb(180, 227, 241);

$notif_bg: rgba(0, 0, 0, 0.336);
$notif_block_bg: #60aafc;

$danger: rgb(146, 5, 5);
$danger_disabled: rgba(146, 5, 5, 0.56);

$header_height: 45px;
